.container {
	margin: 0 auto;
}

@media (max-width: 767px) {
	/* Mobile & Tablet */
	.container {
		padding: 0 20px;
	}
}

@media (min-width: 768px) {
	/* Small screens */
	.container {
		width: 738px;
	}
}

@media (min-width: 992px) {
	/* Medium screens */
	.container {
		width: 962px;
	}
}

@media (min-width: 1200px) {
	/* Large screens */
	.container {
		width: 1170px;
	}
}
